{% extends 'base/base.html.twig' %}

{% block title %}Editar club{% endblock %}

{% block body %}
    <h1>Editar Club</h1>

    {% form_theme form
        '::jquery.collection.html.twig'
        '::collection-form-custom-theme.html.twig'
    %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_row(form.name) }}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                    {{ form_row(form.phone) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_row(form.players) }}
        </div>
        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-sm btn-warning"/>
        </div>
    {{ form_end(form) }}

    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('club_index') }}" class="btn btn-sm btn-primary"><i class="fa fa-reply"></i> Volver al listado</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/jquery.collection.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js" integrity="sha256-X44h8GHeGHTkrwY/CVo4kYfEBYPJAzlG5Aaou4Jco1g=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.player-collection').collection({
                'add': '<a href="#" class="btn btn-sm btn-default">Añadir jugador</a>',
            });
            $("#appbundle_club_phone").mask("000-00-00-00");
            $('form[name="appbundle_club"').on('submit', function(){
                $("#appbundle_club_phone").val($("#appbundle_club_phone").cleanVal());
            });
        });
    </script>
{% endblock %}