{% extends 'base/base.html.twig' %}

{% block body %}
    <h1>Club: {{ club.name }}</h1>

    <div class="row">
        <div class="col-xs-12 col-md-2">
            <strong>ID:</strong>
        </div>
        <div class="col-xs-12 col-md-2">
            {{ club.id }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <strong>Nombre:</strong>
        </div>
        <div class="col-xs-12 col-md-2">
            {{ club.name }}
        </div>
    </div>
        <div class="row">
        <div class="col-xs-12 col-md-2">
            <strong>Teléfono:</strong>
        </div>
        <div class="col-xs-12 col-md-2" id="club_phone">
            {{ club.phone }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(delete_form) }}
                <a href="{{ path('club_index') }}" class="btn btn-sm btn-primary"><i class="fa fa-reply"></i> Volver al listado</a>
                <a href="{{ path('club_edit', { 'id': club.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i> Editar</a>
                <input type="submit" value="Eliminar" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js" integrity="sha256-X44h8GHeGHTkrwY/CVo4kYfEBYPJAzlG5Aaou4Jco1g=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#club_phone").mask("000-00-00-00");
        });
    </script>
{% endblock %}